# Dependencies
node_modules
.pnpm-store

# Build
dist
build
.next
.turbo

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode
.idea
.DS_Store

# Database
*.db
*.sqlite